<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
</head>

<body>
    <h1>Charles Babbage</h1>
    <img src="/img/CharlesBabbage.jpg" alt="no se ve">
    <p>Charles Babbage fue un matemático y científico de la computación británico.​ Diseñó y desarrolló una calculadora
        mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p>
    <p>Nacimiento: 26 de diciembre de 1791, Londres, Reino Unido</p>
    <p>Fallecimiento: 18 de octubre de 1871, Marylebone, Londres, Reino Unido</p>
    <p>Cónyuge: Georgiana Whitmore (m. 1814–1827)</p>
    <p>Hijos: Benjamin Herschel Babbage, Henry Babbage, MÁS</p>
    <p>Educación: Peterhouse, Cambridge (1812–1814), Trinity College (1810–1812)</p>
    <p>Padres: Betsy Plumleigh Teape, Benjamin Babbage</p>
    <a href="/">home</a>
</body>

</html>