<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
</head>

<body>
    <h1>Tim Berners-Lee</h1>
        <img src="/img/TimBernersLee.jpg" alt="no se ve">
        <p>Timothy "Tim" John Berners-Lee, conocido como Tim Berners-Lee, es un científico de la computación británico,
            conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un
            servidor usando el protocolo HTTP en diciembre de 1990.</p>
        <p>Nacimiento: 8 de junio de 1955 (edad 66 años), Londres, Reino Unido</p>
        <p>Premios: Becas MacArthur, Premio Turing y The President's Medal</p>
        <p>Cónyuge: Rosemary Leith (m. 2014), Nancy Carlson (m. 1990–2011)</p>
        <p>Hijos: Benjamin Herschel Babbage, Henry Babbage, MÁS</p>
        <p>Educación: The Queen's College (1973–1976), Emanuel School (1969–1973), Sheen Mount Primary School</p>
        <p>Hijos: Ben Berners-Lee, Alice Berners-Lee</p>
        <p>Hermanos: Mike Berners-Lee</p>
        <p>Padres: Conway Berners-Lee, Mary Lee Woods</p>
        <a href="/">home</a>
</body>

</html>