<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Lewis Hamilton</title> 
</head>

<body>
    <h1>Lewis Hamilton</h1>
    <img src="/img/LewisHamilton.jpg" alt="no se ve">
    <p>Sir Lewis Carl Davidson Hamilton​​ es un piloto británico de automovilismo. En Fórmula 1 desde 2007 hasta 2012,
        fue piloto de la escudería McLaren, con la cual fue campeón en 2008 y subcampeón en 2007.</p>
    <p>Nacimiento: 7 de enero de 1985 (edad 36 años), Stevenage, Reino Unido</p>
    <p>Estatura: 1.75 m</p>
    <p>Salario: 55 millones USD (2021)</p>
    <p>Victorias: 96</p>
    <p>Equipo actual: Mercedes AMG Petronas Motorsport</p>
    <p>Padres: Carmen Larbalestier, Anthony Hamilton</p>
    <p>Hermanos: Nicolas Hamilton, Nicola, Samantha</p>
    <a href="/">home</a>
</body>

</html>