<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Edward Hopper</title>
</head>

<body>
    <h1>Edward Hopper</h1>
    <img src="/img/EdwardHopper.jpg" alt="no se ve">
    <p>Edward Hopper ​ fue un pintor estadounidense, célebre sobre todo por sus retratos de la soledad en la vida
        estadounidense contemporánea. Se le considera uno de los pintores de la escuela Ashcan, que a través de Arshile
        Gorky llevó al expresionismo abstracto posterior a la Segunda Guerra Mundial.</p>
    <p>Nacimiento: 22 de julio de 1882, Upper Nyack, Nueva York, Estados Unidos</p>
    <p>Fallecimiento: 15 de mayo de 1967, Washington Square North, Nueva York, Estados Unidos</p>
    <p>Cónyuge: Josephine Hopper (m. 1924–1967)</p>
    <p>Películas: Hopper's Silence, La toile blanche d'Edward Hopper</p>
    <p>Padres: Garret Henry Hopper, Elizabeth Griffiths Smith</p>
    <p>Hermanos: Marion Louise Hopper</p>
    <a href="/">home</a>
</body>

</html>