<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Ada Lovelace</title>
</head>

<body>
    <h1>Ada Lovelace</h1>
    <img src="/img/adalovelace.jpg" alt="no se ve">
    <p>Augusta Ada King, condesa de Lovelace, registrada al nacer como Augusta Ada Byron y conocida habitualmente como
        Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la
        calculadora de uso general de Charles Babbage, la denominada máquina analítica.</p>
    <p>Nacimiento: 10 de diciembre de 1815, Londres, Reino Unido</p>
    <p>Fallecimiento: 27 de noviembre de 1852, Marylebone, Londres, Reino Unido</p>
    <p>Cónyuge: William King-Noel, 1st Earl of Lovelace (m. 1835–1852)</p>
    <p>Hijos: Byron King-Noel, Viscount Ockham, Anne Blunt, 15th Baroness Wentworth, Ralph King-Milbanke, 2nd Earl of
        Lovelace/p>
    <p>Libros: Sketch of the Analytical Engine invented by Charles Babbage ... with notes by the translator. Extracted
        from the 'Scientific Memoirs,' etc. [The translator's notes signed: A.L.L. ie. Augusta Ada King, Countess
        Lovelace.</p>
    <p>Padres: Lord Byron, Anna Isabella Noel Byron</p>
    <p>Hermanos: Allegra Byron</p>
    <a href="/">home</a>
</body>

</html>