<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Alan Turing</title>
</head>

<body>
    <h1>Alan Turing</h1>
    <img src="/img/AlanTuring.jpg" alt="no se ve">
    <p>Alan Mathison Turing, fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico,
        maratoniano y corredor de ultradistancia británico.​​​​​Es considerado uno de los padres de la ciencia de la
        computación y precursor de la informática moderna.</p>
    <p>Nacimiento: 23 de junio de 1912, Maida Vale, Londres, Reino Unido</p>
    <p>Fallecimiento: 7 de junio de 1954, Wilmslow, Reino Unido</p>
    <p>Pareja: Joan Clarke</p>
    <p>Educación: Universidad de Princeton (1936–1938)</p>
    <p>Padres: Julius Mathison Turing, Ethel Sara Stoney</p>
    <p>Hermanos: John Turing</p>
    <a href="/">home</a>
</body>

</html>